<footer>
    <nav aria-label="Social Links">
        <ul>
            {% for item in site.social %}
            <li><a href="{{ item.url }}">{{ item.label }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <p>&copy; {{ site.currentYear }} {{ site.authorName }}.</p>

</footer>